<nav class="navbar navbar-expand navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <a href="https://www.thortful.com/"
      class="navbar-brand">
      <img src="../../assets/images/logo.svg"
        width="80"
        alt=""
        class="d-inline-block align-middle mr-2">
    </a>
    <li class="nav-item">
      <a class="nav-link mt-1"
        routerLinkActive="text-dark"
        routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mt-1"
        routerLinkActive="text-dark"
        routerLink="/search">Search for a Joke</a>
    </li>
  </ul>
</nav>
